.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border-top-color: coral;
  border-bottom-color: coral;
  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  animation: rotation 0.7 linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*LOGO*/
.header img {
  width: 150px;
  height: auto;

  position: absolute;
  right: 10px;
  bottom: 10px;
}
body {
  background-color: #f8f8f8;
}
/*Authentification*/
.usrname{
  border-radius: 4px;
}
.password{
  border-radius: 4px;
}
.ex_name{
  border-radius: 4px;
}
.camp_name{
  border-radius: 4px;
}

.fldText {
  float: left;
  margin: auto;
  width: 50%;
}

.vleText {
  float: right;
  width: 50%;
}

.success_ko{
  color:green;
  display: none;
}


.sendSMS{
  /*background-color: #efefef;*/
  background-color: #E61D2E;
  /*background-color: #ffffff;*/
  color: white;
  padding: 14px 20px;
  margin-left: 80px 0;
  border: none;
  cursor: pointer;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px grey;
  /*border: 2px solid #d7d7d7;*/

}
.cancelSMS{
  background-color: #ffffff;
  color: black;
  padding: 14px 20px;
  margin-left: 80px 0;
  border: none;
  cursor: pointer;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px grey;
  border: 2px solid #d7d7d7;

}


.updateCSV{
  /*background-color: #efefef;*/
  background-color: #E61D2E;
  /*background-color: #ffffff;*/
  color: white;
  padding: 14px 20px;
  margin-left: 80px 0;
  border: none;
  cursor: pointer;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px grey;
  /*border: 2px solid #d7d7d7;*/

}

.lastCSV{
  /*background-color: #efefef;*/
  background-color: #E61D2E;
  /*background-color: #ffffff;*/
  color: white;
  padding: 14px 20px;
  margin-left: 80px 0;
  border: none;
  cursor: pointer;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px grey;
  /*border: 2px solid #d7d7d7;*/

}

.sms{
    display: block; /* add this */
    padding-top: 5px;
    padding-bottom: 8px;
}

.contentSMS{
  width: 670px;
	height: 120px;
  border: 3px solid #efefef;
  padding: 5px;
  font-family: sans-serif;
  border-radius: 4px;

  background-position: bottom right;
  background-repeat: no-repeat;
}

body {font-family: sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #E61D2E;
}

/*Errors styles*/
.username_ko{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}

.SMS_empty{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}

.esendex_ko{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}
.credits_ko{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}
.sms_length{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}
.campaign{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(234,60,83, 1);
  border-radius: 4px;
}
/*OK SMS*/
.sms_ok{
  padding-left: 10px;
  color: white;
  font-family: sans-serif;
  display:none;
  background: rgba(63, 220, 84, 1);
  border-radius: 4px;
}
